<%- include('partials/header.ejs')%>

<div class = "content">
    <form method="POST" action="/trades/<%=item.id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="name" >Name</label></td>
                <td><input type="text" id="name" name="name" value = "<%= item.name%>" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="category" >Category</label></td>
                <td><input type="text" id="category" name="category" value = "<%= item.category%>" class = "fixed-width" required></td>
            </tr>
            <tr><td class = "align-top"><label for="details">Details</label></td>
                <td><textarea rows="5" cols="90" id="details" name="details" class = "fixed-width" required minlength="10"><%= item.details%></textarea></td>
            </tr>
            <tr>
                <td><label for="status" >Status</label></td>
                <td><input type="text" id="status" name="status" value = "<%= item.status%>" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label for="Image" >Image</label></td>
                <td><input type="url" id="Image" name="Image" value = "<%= item.Image%>" class = "fixed-width" required></td>
            </tr>


            <tr>
                <td colspan="20" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>

    </div>
<%- include('partials/footer.ejs')%>